extends ../layout

block content
	h1 #{ thisUser.username }
	hr
	p #{ thisUser.username } has been a member since #{ helpers.getMonthName(thisUser.joined.getMonth()) }, #{ thisUser.joined.getFullYear() }
	p: a(href='mailto:#{ thisUser.email }') #{ thisUser.email }
	br
	p
		a(href='/users', class='btn btn-default') Back to Users
		a(href='/users/' + thisUser.username + '/delete', class='btn btn-danger') Delete