include ../mixins/moves

extends ../layout

block content
	h1 #{ game.name }
	hr
	if errors
		each error in errors
			.error.alert #{error}
	div(id='#{ game.player1 }', class='player player1')
		.inner
			.title
				.word #{ game.player1word }
				div(class='name #{ helpers.gameUsername(game.player1).className }') #{ helpers.gameUsername(game.player1).value }
			.word-input
				if game.player1 == user.username
					form(method='POST')
						input(type='text', id='input', name='word', maxlength='5', value='')
						input(type='submit', id='submitWord', class='btn btn-default')
				else
						h1 - - - - -
			.moves
				mixin moves(game.words, game.player1)

	div(id='#{ game.player2 }', class='player player2')
		.inner
			.title
				.word #{ game.player2word }
				div(class='name #{ helpers.gameUsername(game.player2).className }') #{ helpers.gameUsername(game.player2).value }
			if !game.player2
				.word-input
					if game.player1 == user.username
						em waiting for a word
					else
						form(method='POST', action='/games/#{game.name}/join')
							input(type='submit', value='Join Game', class='btn btn-primary')
			else
				.word-input
					if game.player2 == user.username
						form(method='POST')
							input(type='text', id='input', name='word', maxlength='5', value='')
							input(type='submit', id='submitWord', class='btn btn-default')
					else
						h1 - - - - -
				.moves
					mixin moves(game.words, game.player2)

	div(style='clear:both')
	#options
		a(href='/games', class='btn btn-default') Back to Games
		a(href="/games/#{game.name}/delete", class='btn btn-danger') Delete Game
	script(type='text/javascript', src='/javascripts/game.js')
	script(type='text/javascript').
		function getSocketInfo() {
			var data = {};
			data.username = "#{ user.username }";
			data.gamename = "#{ game.name }";
			return data;
		}
